Flexible event date

Today we allow only RFC3339 date format in event date as described in RFC 7483, section 3. But for the event type "expiration" they usually don't add the time part. So we should make the protocol flexible to accept a partial RFC3339 (YYYY-MM-DD).

https://rdap.nic.cz/domain/nic.cz
```json
    ...
    "events": [
        {
            "eventAction": "registration", 
            "eventDate": "1997-10-30T00:00:00"
        }, 
        {
            "eventAction": "expiration", 
            "eventDate": "2017-03-15"
        }, 
        {
            "eventAction": "last changed", 
            "eventDate": "2012-07-11T15:11:16"
        }, 
        {
            "eventAction": "transfer", 
            "eventDate": "2007-02-28T13:55:00"
        }
    ],
    ...
```