Nameserver type missing fields

Add missing fields of the Nameserver type according to RFC 7483, [section 5.2](https://tools.ietf.org/html/rfc7483#section-5.2).

* handle
* entities
* status
* links
* port43

This fields aren't used in NIC.br RDAP server, but could be useful for other RDAP servers implementations.